<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Страница авторизации</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../../../../static/frontendServer/static/css/auth.css">
</head>
<body>

<h2>Авторизация</h2>

<div id="login-container">
    <form id="loginForm">
        <label for="username"></label>
        <input type="text" id="username" name="username" placeholder="Логин" required>
        <br>
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="Пароль" required>
        <br>
        <input type="submit" value="Войти">
        <br>

        <div class="register-button">
            <a href="register">Регистрация</a>
        </div>
    </form>
</div>


<div id="error" style="display: none; color: red;"></div>

<script src="../../../../static/frontendServer/static/js/serverURL.js"></script>
<script src="../../../../static/frontendServer/static/js/auth/login.js"></script>

</body>
</html>
